<div class="container">
    <h3>Gestión de Documentos</h3>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Remitente</th>
          <th>Fecha de Elaboración</th>
          <th>Fecha de Recepción</th>
          <th>Tipo Documento</th>
          <th>Área Destino</th>
          <th>Sumilla</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let documento of documentos">
          <td>{{ documento.id }}</td>
          <td>{{ documento.idRemitente }}</td>
          <td>{{ documento.fechaElaboracion }}</td>
          <td>{{ documento.fechaRecepcion }}</td>
          <td>{{ documento.idTipoDocumento }}</td>
          <td>{{ documento.idAreaDestino }}</td>
          <td>{{ documento.sumilla }}</td>
          <td>
            <button class="btn btn-primary" (click)="editDocumento(documento)">Editar</button>
            <button class="btn btn-danger" (click)="deleteDocumento(documento.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  